{% extends 'base.html'%}
{% block content %}

<script type="text/javascript">
    var day = {{ day|date:'d' }}+1
</script>

<h1>{{ day }}</h1>

<ul>
    {% for appointment in object_list %}
        <li>{{ appointment.date_of_departure|date:"F j, Y" }}: {{ appointment.first_name }}
            <a href='{% url "detail" appointment.id %}'>Appointment Details</a></li>
    {% endfor %}
</ul>

<p>
<a href="{% url 'day_view' previous_day|date:'Y' previous_day|date:'b' previous_day|date:'d' %}">Yesterday</a>
<a href="{% url 'day_view' next_day|date:'Y' next_day|date:'b' next_day|date:'d' %}/">Tomorrow</a>

<a href="{% url 'week_view' previous_day|date:'Y' previous_day|date:'W' %}">View Week of This Day</a>

    {% if previous_day %}
        Previous Day: {{ previous_day }}
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
    {% if next_day %}
        Next Day: {{ next_day }}
    {% endif %}
</p>
{% endblock %}